@font-face {
  font-family: 'musicjooyar';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/musicjooyar.eot?377f8e241995b354f6ffc28a93709e9b?#iefix") format("embedded-opentype"),
  url("../fonts/musicjooyar.woff2?377f8e241995b354f6ffc28a93709e9b") format("woff2"),
  url("../fonts/musicjooyar.woff?377f8e241995b354f6ffc28a93709e9b") format("woff");
}

.mj, .mj-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.mj-icons {
  width: 1em;
  height: 1em;
  position: relative;
  fill: currentColor;
}

.mj {
  font-family: 'musicjooyar';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.mj-arrow-down:before { content: "\f101"; }
.mj-arrow-head-down:before { content: "\f102"; }
.mj-arrow-head-left:before { content: "\f103"; }
.mj-arrow-head-right:before { content: "\f104"; }
.mj-arrow-head-up:before { content: "\f105"; }
.mj-arrow-left:before { content: "\f106"; }
.mj-arrow-reply:before { content: "\f107"; }
.mj-arrow-right:before { content: "\f108"; }
.mj-arrow-up:before { content: "\f109"; }
.mj-calendar-edit:before { content: "\f10a"; }
.mj-category:before { content: "\f10b"; }
.mj-close-circle:before { content: "\f10c"; }
.mj-close:before { content: "\f10d"; }
.mj-dislike-1:before { content: "\f10e"; }
.mj-download:before { content: "\f10f"; }
.mj-edit-2:before { content: "\f110"; }
.mj-element-3:before { content: "\f111"; }
.mj-eye:before { content: "\f112"; }
.mj-filter:before { content: "\f113"; }
.mj-heart-filled:before { content: "\f114"; }
.mj-heart-tick:before { content: "\f115"; }
.mj-heart:before { content: "\f116"; }
.mj-image:before { content: "\f117"; }
.mj-like-1:before { content: "\f118"; }
.mj-logout:before { content: "\f119"; }
.mj-message-text:before { content: "\f11a"; }
.mj-message:before { content: "\f11b"; }
.mj-microphone-2:before { content: "\f11c"; }
.mj-music:before { content: "\f11d"; }
.mj-musicjooyar:before { content: "\f11e"; }
.mj-pause:before { content: "\f11f"; }
.mj-play-simple:before { content: "\f120"; }
.mj-play:before { content: "\f121"; }
.mj-profile-tick:before { content: "\f122"; }
.mj-refresh:before { content: "\f123"; }
.mj-repeat-one:before { content: "\f124"; }
.mj-search-normal-1:before { content: "\f125"; }
.mj-setting-3:before { content: "\f126"; }
.mj-Telegram:before { content: "\f127"; }
.mj-tick-circle:before { content: "\f128"; }
.mj-timer-1:before { content: "\f129"; }
.mj-trash:before { content: "\f12a"; }
.mj-user:before { content: "\f12b"; }
.mj-volume-cross:before { content: "\f12c"; }
.mj-volume-high:before { content: "\f12d"; }
.mj-warning-2:before { content: "\f12e"; }
.mj-web:before { content: "\f12f"; }
