:root {
    --color-primary: #735BFF;
    --color-accent: #AC4FFF;

    --color-secondary: #729CFE;

    --color-success: #00CE30;
    --color-success-light: #E3FAE8;

    --color-error: #CE0031;
    --color-error-light: #FAE3E8;

    --color-info: #0037CE;
    --color-info-light: #E3E9FA;

    --color-warning: #CEA500;
    --color-warning-light: #FAF5E3;

    --color-text: #242424;

    --gradient-primary: linear-gradient(90deg, var(--color-accent), var(--color-primary));

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
strong{
    font-weight: bold;
}
a{
    text-decoration: none;
    color: var(--color-primary)
}
body{
    direction: rtl;
    text-align: right;
    font-size: 16px;
    background: #ececec;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body,input,textarea, select, button{
    font-family: YekanBakh, serif;
}
.ltr{
    direction: ltr;
    text-align: left;
}
/** Button: Start */
.btn{
    display: flex;
    background: var( --gradient-primary );
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 10px;
    color: #FFF;
    gap: 3px;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    text-decoration: none;
    outline-style: none;
}
.btn.btn-outline{
    color: var(--color-text);
    background: white;
    border-color: #EEEEEE;
}
.btn-full{
    width: 100%;
}
.btn:before{
    content: "";
    height: 16px;
    background: url('../images/loading-spinner.svg') no-repeat center;
    background-size: 100%;
    width: 0;
    transition: 0.3s;
}
.btn.loading:before{
    width: 16px;
}
.btn:disabled{
    filter: grayscale(.5);
    opacity: .7;
}
.form-group{
    margin-bottom: 10px;
}
.form-group label{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input.form-control,textarea.form-control{
    border-radius: 10px;
    border: 1px solid #CDCDCD;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    outline-style: none;
    transition: 0.3s;
}

input.form-control:focus, textarea.form-control:focus{
    border-color: var(--color-primary);
}

.input-error{
    color: var(--color-error);
    font-size: 15px;
    padding: 5px;
    display: none;
}
.form-group.error input{
    border-color: var(--color-error);
    color: var(--color-error);
}
.form-group.error .input-error{
    display: block;
}
/** Button: End */

/** Login: start */
.login-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-box{
    width: 400px;
    max-width: 95%;
}
.glow-box {
    background: #FFF;
    border: 1px solid #DFDFDF;
    padding: 15px;
    border-radius: 30px;
    position: relative;
}
.glow-box:before,.glow-box:after{
    content: "";
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background: var(--color-primary);
    position: absolute;
    filter: blur(25px);
    z-index: -1;
    bottom: 15px;
}
.glow-box:before{
    left: 15px;
}
.glow-box:after{
    right: 15px;
}
.login-logo{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.login-logo img{
    height: 72px;
    width: auto;
}
.or{
    height: 1px;
    background: #D1D1D1;
    margin: 30px 0;
    position: relative;
}
.or:before{
    content: "یا";
    background: #FFF;
    color: #D1D1D1;
    width: 15px;
    position: absolute;
    text-align: center;
    left: calc( 50% - 7px );
    top: -10px;
}
.google-login img{
    width: 24px;
    height: auto;
    transition: 0.3s;
}
.google-login.loading img{
    width: 0;
}
.agreement{
    margin-top: 15px;
    text-align: center;
}

.otp-sent-number {
    margin: 15px 0;
}

#login-form h1, #verify-form h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 22px;
}

#verify-form{
    display: none;
}

.active-verify-form #verify-form{
    display: block;
}
.active-verify-form #login-form{
    display: none;
}

.otp-time{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 25px 0;
    font-size: 15px;
}
.resend-otp{
    font-weight: 600;
    opacity: .4;
    color: var(--color-text);
    transition: 0.3s;
}
.otp-expired .resend-otp{
    opacity: 1;
    color: var(--color-primary)
}
.otp-resend-loading{
    display: none;
    position: relative;
    font-size: 14px;
    padding-right: 24px;
}
.otp-resend-loading:before{
    content: "";
    width: 20px;
    height: 20px;
    background: url('../images/loading-spinner-primary.svg') no-repeat;
    background-size: 100%;
    position: absolute;
    right: 0;
}
.otp-sending .otp-resend-loading{
    display: block;
}
.otp-sending .resend-otp{
    display: none;
}

.expired-text{
    display: none;
}
.otp-expired .count-down{
    display: none;
}
.otp-expired .expired-text{
    display: block;
}
/** Login: End */

/** Panel sidebar: Start */
.panel-container.glow-box {
    padding: 0;
    margin-top: 25px;
    margin-bottom: 25px;
}

.panel-container {
    width: 1200px;
    display: grid;
    grid-template-columns: 300px auto;
}
.sidebar {
    background: #F8F8F8;
    border-left: 1px solid #DFDFDF;
    padding: 10px;
    border-radius: 0 30px 30px 0;
}

.sidebar-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-avatar {
    width: 64px;
    height: auto;
    border-radius: 50%;
}

a.sidebar-logo img {
    height: 64px;
}

.sidebar-header span {
    color: #7E7E7E;
}

.sidebar-header strong {
    font-size: 18px;
    margin-top: 5px;
}

.sidebar-menu h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.sidebar-menu {
    margin-top: 25px;
}

.sidebar-menu a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border-radius: 10px;
    color: var(--color-text);
    font-size: 18px;
    transition: 0.3s;
    position: relative;
}

.sidebar-menu a .count{
    background: var(--color-error-light);
    color: var(--color-error);
    min-width: 28px;
    text-align: center;
    position: absolute;
    left: 10px;
    border-radius: 6px;
}

.sidebar-menu a i {
    font-size: 22px;
}

.sidebar-menu a:hover {
    background: var(--color-info-light);
}

.sidebar-menu a.active {
    background: var(--gradient-primary);
    color: #FFF;
}

.sidebar-menu a.menu-logout {
    color: var(--color-error);
    background: var(--color-error-light);
}
/** Panel sidebar: End */

/** Panel Body: Start */
main.main header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #E3E3E3;
}

main.main header h1 {
    font-size: 28px;
}
main.main header i{
    width: 45px;
    height: 45px;
    display: flex;
    font-size: 22px;
    color: var(--color-primary)
}
main.main header i:after{
    background: url('../images/circle-curve.svg') no-repeat;
    width: 45px;
    height: 45px;
    content: "";
    position: absolute;
}

.main-content{
    padding: 15px;
}

/** Panel Body: End */