:root {
    --color-primary: #1960e9;
    --color-primary-hover: #005ca9;
    --color-green: #24b25d;
    --color-red: #ff003e;
    --border-radius-table-row: 10px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    direction: rtl;
    text-align: right;
    font-family: YekanBakh, serif;
    font-size: 16px;
    background: linear-gradient(45deg, #cdd4de, #9ba6b8);
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

input, textarea, button, select {
    font-family: YekanBakh, serif;
}

.w-100{
    width: 100%;
}

.box-container {
    background: #FFF;
    border-radius: 15px;
    padding: 20px;
    width: 1200px;
    max-width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.box-container header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-container .title p {
    color: #b8b8b8;
}

.btn {
    background: #3f3f3f;
    color: #FFF;
    text-decoration: none;
    padding: 8px 13px;
    border-radius: 8px;
    transition: 0.3s ease-in;
    border: none;
}

.btn-primary {
    background-color: var(--color-primary);
}

.btn-primary:hover {
    background-color: var(--color-primary-hover);
}

.btn-secondary{
    background: #e0e0e0;
    color: #5d5d5d;
}

.btn-secondary:hover{
    background: #efefef;
}

.table {
    margin: 15px 0px;
    width: 100%;
    border-collapse: collapse;
}

.table th {
    color: #000;
    font-weight: normal;
    background: #dae5fb;
}

.table th a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 3px;
}

th a.order-desc g path:first-child {
    fill: var(--color-primary);
}

th a.order-asc g path:last-child {
    fill: var(--color-primary);
}

.table th a svg {
    height: 14px;
}

.table th, .table td {
    padding: 10px;
    min-width: 10px;
    transition: 0.3s ease-in;
}

.table tr th:not(:nth-child(3)), .table tr td:not(:nth-child(3)) {
    text-align: center;
}

.table .product-thumbnail {
    width: 36px;
}

.table .product-title {
    display: inline-block;
}

.table-flex-col {
    display: flex;
    align-items: center;
    gap: 5px;
}

.table .product-title {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table tbody tr:nth-child(even) td {
    background: #f7f7f7;
}

.table tr:hover td {
    background: #eef8ff !important;
}

.table tr td:first-child, .table tr th:first-child {
    border-radius: 0 var(--border-radius-table-row) var(--border-radius-table-row) 0;
}

.table tr td:last-child, .table tr th:last-child {
    border-radius: var(--border-radius-table-row) 0 0 var(--border-radius-table-row);
}

del {
    text-decoration: none;
    color: red;
    font-size: 14px;
    position: relative;
    padding: 0 3px;
}

del:before {
    content: "";
    background: red;
    left: 0;
    right: 0;
    height: 1px;
    position: absolute;
    top: 50%;
    transform: rotate(-15deg);
}

ins {
    text-decoration: none;
    color: #4CAF50;
    font-weight: 500;
}

.product-status {
    background: rgb(49, 49, 49);
    border-radius: 15px;
    display: inline-block;
    padding: 3px 10px;
    font-size: 14px;
    color: #FFF;
}

.product-status.publish {
    background: #24b25d;
}

.product-status.pending,
.product-status.presale{
    background: #e3822b;
}

.product-status.expire {
    background: #ff003e;
}

.btn-icon {
    background: #dfdfdf;
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

a.btn-icon.edit-product {
}

a.btn-icon.edit-product svg path {
    fill: var(--color-green);
}

a.btn-icon.edit-product {
    background: rgb(36 178 93 / 20%);
}

a.btn-icon.delete-product svg path {
    fill: var(--color-red);
}

a.btn-icon.delete-product {
    background: hsl(345deg 100% 50% / 20%);
}

.table-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagination {
    display: flex;
    gap: 5px;
    direction: ltr;
    flex-wrap: wrap;
}

.pagination > * {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    background: #f4f4f4;
    border-radius: 4px;
}

.pagination > span {
    background: var(--color-primary);
    color: #FFF;
}

.pagination svg {
    width: 6px;
    height: 11px;
}

.table-filter {
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.form-control {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #d0cece;
    box-sizing: border-box;
}

.table-filter .filter {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filter.btn-filter:before {
    content: "-";
    color: transparent;
}

.filter.filter-price input {
    width: 110px;
    direction: ltr;
    text-align: center;
}

#product-register{
    margin-top: 25px;
}

.form-group{
    margin-bottom: 15px;
}

.form-group label{
    display: block;
    margin-bottom: 5px;
}

.form-group .form-control{
    width: 100%;
}

form#product-register {
    display: grid;
    grid-template-columns: auto 300px;
    gap: 25px;
    margin-top: 50px;
}



.message {
    border-radius: 15px;
    margin-top: 15px;
    border: 1px solid;
    position: relative;
    padding: 15px 36px 15px 15px;
}

.message:before{
    content: "";
    background: url("../images/success-filled.svg") no-repeat;
    background-size: 100%;
    width: 24px;
    height: 24px;
    position: absolute;
    top: calc( 50% - 12px );
    right: 8px;
}

.message.error{
    color: red;
    background: #fff4f4;
    border-color: #ffc8c8;
}

.message.error:before{
    background-image: url("../images/error-filled.svg");
}

.message.success{
    background: #f1f8f4;
    border-color: #cbe6cf;
    color: green;
}

.thumbnail.contain-image label{
    display: none;
}

.thumbnail-preview{
    width: 100%;
}